@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP&family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap');

/*  カラー設定 */
:root {
 --color-bg: #fafafa;
 --color-text: #292929;
 --color-main: #434343;
 --color-sub: #efefef;
 --color-accent: #df6a78;
 --color-black: #313131;
 --color-white: #ffffff;
}

/*  フォント設定 */
:root {
 --font-base: "Outfit", YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
 --font-title: "Outfit", "LINE Seed JP", YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}